<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitbit Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Fitbit Dashboard</h1>

    <p><strong>Date Time:</strong> {{dateTime}}</p>
    <p><strong>Resting Heart Rate:</strong> {{resting_heart_rate}}</p>
    <h3>Heart Rate Zones:</h3>
    <ul>
        {% for zone in heart_rate_zones %}
            <li>
                {{ zone["name"] }}<br>
                Min: {{ zone["min"] }}<br>
                Max: {{ zone["max"] }}
            </li>
        {% endfor %}
    </ul>

    <h1>Steps Data</h1>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Steps</th>
        </tr>
        {% for step in steps_data %}
        <tr>
            <td>{{ step.dateTime }}</td>
            <td>{{ step.value }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Breathing Rate:</h3>
    <p><strong>Date:</strong> {{ brData.dateTime }}</p>
    <p><strong>Breathing Rate:</strong> {{ brData.breathingRate }} breaths per minute</p>
    

    


</body>    

</html>
        
        